@page "/brugere"
@using Miljøfestivalen.Shared
@using System.Net.Http.Json
@using Client.Services
@using System.Globalization
@inject HttpClient Http

<h1>Brugere List</h1>

@if (BrugerListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var bruger in BrugerListe)
        {
            <li>@bruger.FuldeNavn</li>
        }
    </ul>
}

@code {
    public List<Bruger> BrugerListe = new List<Bruger>();

    [Inject]
    public IBrugerService Service { get; set; }

    protected override async Task OnInitializedAsync()
    {

        BrugerListe = (await Service.HentAlleBrugere()).ToList();
    }
}
